.body{
    box-sizing: border-box;
}
.header{
    width: 100%;
    float: left;   
}
.pics{
    width: 100%;
    height: 600px;
}
.header-top{
    width: 100%;
    float: left;   
}
.header-top li {
    display: inline-block; 
    list-style-type: none;
}
.header-top li a {
    font-size: 15px;
    color: black;
    text-decoration: none;
    margin-left: 150px;
    margin-top: -580px;
    position: absolute; 
}
.header-top h1{
    font-size: 70px;
    margin-left:600px;
    margin-top:-360px;
    color: whitesmoke;
    position: absolute; 
}
.header-top p{
    font-size: 20px;
    margin-left:580px;
    margin-top:-160px;
    color: black;
    position: absolute; 
}
.header-bottom h4{
    color: black;
    margin-left:600px;
    margin-top:-160px;
    font-size: 23px;
    padding: 10px;
}
.header-bottom hr{
    width: 5%;
    margin-left:650px;
    margin-top:-30px;
    border-bottom: solid red;
    position: absolute; 
}
.main{
    width: 100%;
    float: left;
}
.main1 {
    width: 25%;
    float: left;
}
.main1 h3{
    color: black;
    font-size: 20px;
    margin-left:150px;
}
.img1 {
    width: 100%;
    margin-left:100px;
}
.main1 p{
    color: black;
    font-size: 15px;
    margin-left:120px;
    width: 100%;
}
.main2 {
    width: 25%;
    float: left;
    margin-left:70px;
}
.main2 h3{
    color: black;
    font-size: 20px;
    margin-left:150px;
    
}
.main2 p{
    color: black;
    font-size: 15px;
    margin-left:100px;
    width: 100%;
}
.img2 {
    width: 100%;
    margin-left:100px;
}
.main3 {
    width: 25%;
    float: right;
}
.main3 h3{
    color: black;
    font-size: 20px;
    margin-right:150px;
}
.main3 p{
    color: black;
    font-size: 15px;
    margin-left:-80px;
    width: 100%;
}
.img3 {
    width: 100%;
    margin-right:100px;
    float: right;
}
.menu{
    width: 100%;
    float: left;
}
.menu1{
    width: 50%;
    float: left;
}
.image{
    width: 100%;
    float: left;
    height: 400px;
    margin-top: 80px;
}
.menu2{
    width: 50%;
    float: right;   
}
.menu2 h4 {
    color: black;
    text-align: center;
    margin-top: 150px;
    font-size: 25px; 
    margin-left:100px 
}
.menu2 p {
    font-size: 15px;
    color: black;
    margin-left: 60px;
    margin-right: 60px;
}
.menu2 hr{
    width: 12%;
    margin-left:300px;
    margin-top:-30px;
    border-bottom: solid red;
    position: absolute; 
}
.main-menu{
    width: 100%;
    float: left;
  
    margin-top:80px;
}
.picture{
    width: 25%;
    float: left; 
   
}
.nav-menu{
    width: 100%;
    float: left;
}
.nav-menu{
    width: 100%;
    float: left;
}
.nav-menu1{
    width: 50%;
    left: left;
}
.nav-menu1 h3{
    color: black;
    font-size: 20px;
    margin-left: 250px;
    margin-top: 90px;
}
.nav-menu1 p {
    color: black;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 30px;
}
.nav-menu1 hr{
    width: 8%;
    margin-left:280px;
    margin-top:-10px;
    border-bottom: solid red;
    position: absolute; 
}
.nav-menu2{
    width: 50%;
    float: right;
}
.pic1{
    width: 70%;
    float: left; 
    margin-top: -220px;
    margin-left:10px;
    height: 300px;
}
.footer{
    width: 100%;
    float: left;
    background-color: grey;
    margin-top:80px;
}
.footer1 {
    width: 30%;
    float: left;
}
.footer1 h4{
    color: black;
    margin-left: 150px;
    margin-top: 40px;
}
.footer1 h5{
    color: black;
    margin-left: 180px;
    margin-top: 20px;
}
.footer1 p {
    color: black;
    margin-left: 160px;
    margin-top: 20px;
}
.footer1 hr{
    width: 3%;
    margin-left:190px;
    margin-top:-10px;
    border-bottom: solid red;
    position: absolute; 
}
.footer2 {
    width: 30%;
    float: left;
}
.footer2 h4{
    color: black;
    margin-left: 150px;
    margin-top: 40px;
}
.footer2 h5{
    color: black;
    margin-left: 150px;
    margin-top: 20px;
}
.footer2 p {
    color: black;
    margin-left:140px;
    margin-top: 20px;
}
.footer2 hr{
    width: 3%;
    margin-left:200px;
    margin-top:-10px;
    border-bottom: solid red;
    position: absolute;  
}
.footer3 {
    width: 30%;
    float: left;
}
.footer3 h4{
    color: black;
    margin-left: 200px;
    margin-top: 40px;
}
.footer3 h5{
    color: black;
    margin-left: 190px;
    margin-top: 20px;
}
.footer3 p {
    color: black;
    margin-left: 170px;
    margin-top: 20px;
}
.footer3 hr{
    width: 3%;
    margin-left:220px;
    margin-top:-10px;
    border-bottom: solid red;
    position: absolute; 

}

